#slider-box {
  display:block;
  width:100%; height:560px;
}
.slider-item {
  position: absolute !important;
  width:100%;
  height:560px !important;
  top: 0 !important;
  padding:95px 15px 0 15px !important;
  overflow:hidden;
  display:block; opacity:1.0;
  z-index:0;
}

.sd-init {
  background:#b959d1;
  z-index:1;
}
.sd-comp {
  background:#5DADC0;
}
.sd-game {
  background:#EF6628;
}

.slider-item:not(.sd-init) {
  display:none; opacity:0.0;
}
.slider-item > * {
  display:none; opacity:0.0;
}
.sd-complogo {
  width:auto !important;
  height:80% !important;
  display:block;
  position:absolute;
  top:20% !important;
  left:60% !important;
}
.sd-caption {
  text-transform: uppercase;
  font: normal normal 700 90px/100px "Open Sans Condensed";
  color:#fff;
  display:block; width:100%; height:auto;
}
.sd-caption-small {font: normal normal 700 70px/80px "Open Sans Condensed";}
.sd-caption-big {font: normal normal 700 160px/160px "Open Sans Condensed";}
.sd-motto {
  text-transform: uppercase;
  font: normal normal 300 30px/46px "comfortaa", sans-serif !important;
  letter-spacing:1px;
  display:block; width:100%; height:auto;
  color:#fff;
}
.sd-btn {
  font: normal normal 700 28px/60px "Open Sans Condensed", sans-serif !important;
  letter-spacing:1px;
  display:block;
  width:auto !important;
  max-width:300px !important;
  height:auto;
  margin:0 auto;
  color:#fff;
}
.sd-btn:hover {
  color:#fff;
  text-decoration:underline;
}
.sd-earth {
  display:block;
  width:36%; height:auto;
  position:absolute;
  top:100%; left:32%;
  margin-top:-100px;
  opacity:0.9;
}
.sd-comp {
  background:#5DADC0;
  display:none;
  opacity:0.0;
}
.sd-complogo {
  width:46%;
  height:auto;
  display:none;
  opacity:0.0;
  position:absolute;
  top:3%; left:52%;
}
.sd-lgame, .sd-rgame {
  position:absolute;
  width:auto;
}
.sd-lgame {
  left:3%; top:30%;
  height:50%;
  display:none; opacity:0.0;
}
.sd-rgame {
  left:70%; top:70%;
  height:30%;
}
.comp-man {
  left:46%;
  display:none; opacity:0.0;
}

.sd-center .sd-caption,
.sd-center .sd-motto,
.sd-center .sd-btn { text-align:center; }

.sd-left .sd-caption,
.sd-left .sd-motto,
.sd-left .sd-btn { text-align:left; margin-left:10px !important; }

/*@media only screen and (min-width: 400px) and  (max-width:560px){*/
@media all and (max-width: 1100px){
  .sd-comp .sd-motto, .sd-game .sd-motto { font: normal normal 300 24px/40px "comfortaa", sans-serif !important; }
}
@media all and (max-width: 980px){
  .sd-comp .sd-motto, .sd-game .sd-motto { font: normal normal 300 20px/32px "comfortaa", sans-serif !important; }
  .sd-complogo { height:65% !important; top:35% !important;}
  .sd-lgame { left:1%; top:30%; height:36%; }
  .comp-man { left:70%; top:75%; height:25%; }
}
@media all and (max-width: 800px){
  .sd-motto { font: normal normal 300 18px/30px "comfortaa", sans-serif !important; }
  .sd-complogo { height:70% !important; left:70% !important; top:30% !important; }
  .sd-lgame { left:0%; top:38%; height:26%; }
  .comp-man { left:70%; top:100% !important; height:25%; }
  .sd-caption-small {font: normal normal 700 60px/70px "Open Sans Condensed";}
  .sd-caption-big { font: normal normal 700 120px/130px "Open Sans Condensed"; }
  #slider-box,.slider-item { height:500px !important; }
}
@media all and (max-width: 700px){
  .slider-item {padding-top:160px !important;}
  .slider-item img {opacity:0.0 !important; display:none !important;}
  .sd-motto { font: normal normal 300 18px/30px "comfortaa", sans-serif !important; }
  .sd-caption-small {font: normal normal 700 50px/60px "Open Sans Condensed";}
  .sd-caption-big { font: normal normal 700 110px/110px "Open Sans Condensed"; }
  .sd-left .sd-caption,
  .sd-left .sd-motto,
  .sd-left .sd-btn { text-align:center; margin-left:auto !important; }
  .sd-earth {display:block !important; opacity:1.0 !important;}
}
@media all and (max-width: 560px){
  #slider-box,.slider-item { height:560px !important; }
  .sd-caption-small {font: normal normal 700 40px/50px "Open Sans Condensed" !important;}
  .sd-caption-big { font-size:70px !important;line-height:70px !important; }
}
@media all and (max-width: 500px){
  .slider-item {padding-top:176px !important;}
  .sd-caption-small {font: normal normal 700 30px/40px "Open Sans Condensed" !important;}
  .sd-caption-big { font-size:56px !important;line-height:60px !important; }
  .sd-motto { font: normal normal 300 16px/28px "comfortaa", sans-serif !important; margin-bottom:8px; }
}
@media all and (max-width: 400px){
  #slider-box,.slider-item { height:600px !important; }
}
