body { background:#EF6628 !important; }
.vbox {
  overflow: hidden !important;
  width: 100% !important;
}
#log-in-form .top-conus { left:42%; }
#main-logo img:nth-child(1), .sd-comp { display:block !important; opacity:1.0 !important;}
.scrollable { padding-top: 105px !important; }

.panel-heading {
  font: normal normal 700 30px/40px "Open Sans Condensed";
}

.border { border-color: red !important; }
.dotted { border:2px dotted red; }
.creaComp {
    font-size:14px;
    color:#777;
    cursor:pointer;
}
.if-is { font-size:14px !important; }
.creaComp:hover {color:#555;}
.title {
    font: normal normal 400 40px/40px "Open Sans Condensed";
    color:#fff;
    padding:0 !important;
    margin-top:0px;
}
.desc {
    font: normal normal 400 16px/24px "Segoe UI";
    color:#fff;
    margin-top:15px;
    margin-bottom:20px;
}
.scrollable { padding-top:100px; }
.main-box { margin-top: 0px; }
.main-box .panel { margin-bottom:0 !important; }
.main-box .panel-body { padding-bottom: 35px !important; }

/* resseler styles */

.rsl-logo {
  display:block;
  width:35%; height:100px;
  overflow:hidden;
  position:relative;
  margin:0 auto;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}
.rsl-logo img {
  width:120%; height:auto;
  margin:0 0 0 -10%;
}
.rsl-title {
  font: normal normal 100 56px/70px "Exo 2";
  text-align:center !important;
  color:#fff;
  display:block; width:100%;
  margin-top:10px;
}
.rsl-title > span {
  color:#fff;
}

/* end resseler styles */

@media all and (min-width: 1700px){}
@media all and (max-width: 1100px){
  #reed-in { display:none; opacity:0.0; }
}
@media all and (max-width: 980px){
  .main-box { margin-top: 0px; }
}
@media all and (max-width: 800px){
  .main-box { margin-top: 0px; }
}
@media all and (max-width: 700px){
  .main-box { margin-top: 0px !important; }
  .scrollable {
    margin-top:0 !important;
    padding-top:20px !important;
  }
}
@media all and (max-width: 600px){
  .main-box { margin-top: 0px; }
  #main-logo { top: 120px !important; }
  .scrollable {padding-top:90px !important;}
}
@media all and (max-width: 500px) {
  #slider-box { height: 180px; }
  .main-box { margin: 0px !important; padding-bottom:20px; }
  #main-logo { top: 55px !important; }
  .scrollable > div, .main-box { padding:0 !important; margin-top: 0px !important; }
  .scrollable {
    padding:0 0 20px 0 !important;
  }
}
@media all and (max-width: 400px),@media all and (max-width: 300px){}
