body {
  display:block !important;
  position:absolute;
  overflow-y:scroll !important;
  overflow-x:hidden !important;
  width:100%;
  background:#f3f5f9;
}
@-moz-document url-prefix() {
  .vbox { overflow:hidden !important; }
}
.main-header {
  width:100% !important;
  position:relative !important;
  z-index:2;
}
.head-new {}
.head-new #main-logo {
  width:50px; height:50px;
  margin-top:-17px;
  cursor:pointer;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
}
#main-logo > img {display:none; opacity:0.0;}
.head-new #main-logo > img:nth-child(2) { margin:7px 0 0 2.5px;}
.head-new #log-in,.head-new #sign-in {color:#fff !important;}
.b-b {
  display:block;
  width:auto;
  height:50px;
  float:left;
  border:0 none !important;
}
.b-r {
  float:right !important;
}
#top-nav {padding-top:10px; padding-left:10px;}
#top-nav > a,#reed-in {
  display:block;
  float:left;
  width:auto;
  height:50px;
  padding:0 10px;
  text-decoration:none;
  position:relative;
  text-transform: uppercase;
  font: normal normal 800 16px/50px "Open Sans" !important;
  color:#fff;
}
#top-nav > a:hover,#reed-in:hover {
  color:#fff;
  cursor:pointer;
}
#top-nav > a > i {
  font-size:16px;
  color:#fff;
  padding:0 2px 0 0;
}
#top-nav > a:hover > i {color:#fff;}
#main-logo {
  width:60px;
  height:60px;
  display:block;
  position:absolute;
  top:12px;
  left:48%;
}
#main-logo > img:nth-child(1){
  display:block;
  width:180%;
  height:auto;
  position:absolute;
  top:-5%;left:-45%;
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  opacity:0.8;
}
#main-logo:hover > img:nth-child(1){
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity:1.0;
  cursor:pointer;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
}
#main-logo > img:nth-child(2) {
  display:block;
  width:90%;
  height:auto;
  margin:10% 10% 0 0;
}
#auth-panel {
  position:relative;
  border:0 none;
  padding-right:25px !important;
}
#auth-panel > * { float:left; }
#log-in {
  width:70px;
  height:15%;
  margin:0;
  text-transform: uppercase;
  font: normal normal 800 18px/50px "Open Sans" !important;
  color:#fff;
  cursor:pointer;
}
#log-in:hover,.active-sign-in {
  color:#fff;
}
#log-in-form, #sign-in-form, #reed-in-form {
  width:110%;
  height:auto;
  z-index:2;
  display:none;
  opacity:0.0;
  position:absolute;
  top:73px; left:-50px !important;
  background:#fff;
  padding:0;
  box-shadow:0px 1px 2px 0px #aaa;
}
.en-panel .socio-box {
  width:80% !important;
  margin-left:10% !important;
}
.en-panel .socio-box a {
  margin: 0 10px 10px 0 !important;
}
.top-conus {
  width:30px; height:30px;
  display:block;
  position:absolute;
  top:-15px; left:20px;
  box-shadow:0px 0px 1px 0px #ddd;
  z-index:1;
  background:#fff;
}
.form-cont {
  display:block;
  width:100%; height:100%;
  position:relative;
  z-index:2;
  background:#fff;
  padding:15px 10px;
}
.form-cont > input {
  outline:none !important;
}
.form-cont > input:not(.btn){
  width:100%;
  height:40px;
  border:1px solid #ddd;
  text-indent:7px;
  margin-bottom:15px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.form-cont > input:not(.btn):focus {
  border-color:#aaa;
}
#login-send {
  width:100%;
}
.auth-forget {
  font: normal normal 400 14px/20px "Open Sans";
  color:#388ed1;
  margin:4px 0 0 1px;
  display:block; width:100%;
  text-decoration:none;
}
.auth-forget:hover {
  text-decoration:underline;
  color:#247ab7;
}
.auth-desc {
  font: normal normal 400 14px/20px "Open Sans";
  color:#111;
  margin:15px 0 6px 0;
  display:block;
}
.socio-box {
  width:auto;
  display:block;
  height:auto;
  min-height:45px;
  overflow:hidden;
}
.socio-auth {
  width:30px; height:30px;
  display:block;
  float:left;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  border:1px solid #5c677c;
  background:#5c677c;
  color:#fff !important;
  margin:0 10px 0 0; padding:0;
  text-decoration:none;
}

.socio-auth:nth-child(1):hover {border-color:#388ed1; background:#388ed1;}
.socio-auth:nth-child(2):hover {border-color:#3b589a; background:#3b589a;}
.socio-auth:nth-child(3):hover {border-color:#e09797; background:#e09797;}
.socio-auth:nth-child(4):hover {border-color:#388ed1; background:#388ed1;}
.socio-auth:nth-child(5):hover {border-color:#3b589a; background:#3b589a;}
.socio-auth:nth-child(6):hover {border-color:#388ed1; background:#388ed1;}

.i {
  text-align:center !important;
  width:30px !important;
  height:30px !important;
  display:block !important;
  font-size:14px !important;
  line-height:30px !important;
}
.i:nth-child(1) {
  margin-left:-1.5px !important;
  margin-top:-1px;
}
.b-line {
  width:100%; height:1px;
  background:#ddd;
  display:block;
  margin:10px 0 10px 0;
}
.auth-close {
  display:block;
  width:20px; height:auto;
  margin:8px auto 0 auto;
  opacity:0.5;
  cursor:pointer;
}
.auth-close:hover {opacity:0.8;}
.top-login {width:80%;}
.or-desc {
  font: normal normal 400 16px/16px "Open Sans";
  margin-left:5px;
  color:#fff;
  text-align:center;
  margin-top:18px;
}
#sign-in {
  text-transform: uppercase;
  font: normal normal 800 18px/50px "Open Sans" !important;
  color:#fff;
  cursor:pointer;
  padding:0 0 0 15px;
  float:left !important;
  display:block;
}
#sign-in:hover { color:#fff; }
#sign-in-form > .top-conus,#reed-in-form > .top-conus {left:75% !important;}
.center-desc {
  font: normal normal 100 54px/34px "Exo 2", sans-serif;
  margin:-5px 0 25px 0;
  color:#ccc;
}
.sign-desc {
  text-align:center !important;
}
#sign-in-form .pure-button {
  background:#eee !important;
  color:#555 !important;
  width:100% !important;
  height:40px !important;
  margin-bottom:10px;
  line-height: 38px;
  padding:0;
}
#sign-in-form .pure-button:hover {
  background:#448bce !important;
  color:#fff !important;
}
#reed-in:hover i {color:#fff;}
#sign-in-form .pure-button:hover i {color:#fff !important;}
#sign-in-form .btn:nth-child(2):hover {border-color:#477; background:#477 !important; color:#fff !important;}
#sign-in-form .btn:nth-child(3):hover{border-color:#9b0; background:#9b0 !important; color:#fff !important;}
#sign-in-form .btn:nth-child(4):hover{border-color:#477eab; background:#477eab !important; color:#fff !important;}
#reed-in-form {
  width:25%;
  margin-left:200px;
}
.socio-box {
  width:100%; height:auto;
  display:block; overflow:hidden;
}
#reed-in-form a {
  width:50%; height:34px;
  float:left; display:block;
  font-size:14px;
  padding:8px 0 0 8px;
}
#reed-in-form a i {
  font-size:18px;
  color:#777;
}
#reed-in-form a:hover {background:#455555; color:#fff;}
#reed-in-form a:hover i {color:#fff;}

/* body part start */
.main-box {margin-top:50px; position:relative;}
.welcome {
  width:100%;
  height:auto;
  font: normal normal 100 54px/85px "Open Sans", sans-serif;
  color:#777;
  text-align:center;
}
#main-ul {
  list-style:none;
  padding:0 !important;
  position:relative !important; padding-top:140px !important;
  display:block;
  position: relative;
  margin:0 auto;
}
#main-ul > li {
  background:#fff;
  height:250px;
  margin:0 1% 1% 0;
  box-shadow:inset 0 0 0 1px #ddd;
  padding:10px 0 10px 0 !important;
  overflow:hidden;
  float:left;
  position: relative;
}
#main-ul > li.pure-u-lg-4-6 {width:65.60%;}
#main-ul > li.pure-u-lg-3-6 {width:49%;}
#main-ul > li.pure-u-lg-1-4 {width:24%;}
#main-ul > li.pure-u-lg-2-6 {width:32.32%;}
.main-ico {
  width:40px !important; height:40px !important;
  display:block !important; color:#fff;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  line-height:46px !important;
  font-size:16px;
  text-align:center;
  position:relative;
  top:-25px;
  margin:0 auto;
  background:#f3f5f9;
  border:1px solid #dedede;
}
.sand-link {
  font: normal normal 100 28px/32px "Open Sans", sans-serif;
  text-decoration:none;
  color:#677eab;
  display:block;
  width:96%;
  padding:0 10px 0 10px !important;
  margin-top:-15px;
}
.sand-link:hover {color:#477eab;}
.post-item .main-ico {color:#19a;}
.tour-item .main-ico {color:#f80;}
.diss-item .main-ico {color:#9c0;}
.stat-item .main-ico {color:#866;}
.post-details {
  width:100%; height:70px;
  position:absolute;
  top:100%; left:0; margin-top:-70px;
  color:#777;
}
#main-ul > li .b-line {
  width:94%;
  margin:25px 0 0 3%;
  display:block;
}
.img-box {
  width:50px; height:50px;
  display:block; float:left;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  overflow:hidden;
  margin:0 10px 0 2%;
  box-shadow:0 0 0 10px #fff;
}
.img-box img {
  width:76px; height:auto;
  display:block; margin:-13px 0 0 -13px;
}
.post-details span {
  width:auto; height:25px;
  display:block; float:left;
  margin-right:20px;
  font-size:14px;
}
.post-details span i {
  font-size:16px;
  color:#777;
}
.uname {
  font: normal normal 100 18px/32px "Open Sans", sans-serif;
  font-size:18px !important;
  color:#455;
}
.win-box {
  width:36%; height:auto;
  display:block; float:left;
  margin:-15px 0 0 15px;
  position:relative;
}
.lavrus {
  width:100%;
  opacity:0.85;
}
.win-item {
  width:48%; height:75px;
  position:absolute;
  top:12%;left:25.5%;
}
.img-item {
  display:block; float:left;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  overflow:hidden;
}
.img-item img {
  width:140%; height:auto;
  display:block;
  margin:-20% 0 0 -20%;
}
.win-box .uname {
  text-align:center !important;
  width:100%;display:block;
  line-height:20px !important;
  margin-top:8px;
}
.user-coins {
  width:48%; height:auto;
  display:block; float:left;
  margin-left:5%; margin-top:-10px;
  position:relative;
}
.user-coins span {
  font: normal normal 100 68px/40px "Exo 2", sans-serif;
  color:#f80;
  opacity:0.7;
  width:100% !important;
  display:block;
}
.user-coins a {
  font: normal normal 400 14px/30px "Open Sans", sans-serif;
  color:#fff;
  padding:4px 14px;
  margin:25px 0 0 0;
}
.win-info {
  position:absolute;
  top:100%;left:0;
  margin-top:-50px;
  height:50px; width:100%;
}
.win-info span {
  font: normal normal 100 22px/40px "Open Sans", sans-serif;
  color:#888;
  opacity:0.7;
  padding:0 0 0 10px;
}
.win-info span:nth-child(2){
  float:right; text-align:right;
  padding-right:15px;
  color:#455;
}

/* discussion part */
.diss-item .sand-link {
  width:80%;
  color:#555;
  display:block; float:left;
  font-size:24px !important;
  font-weight:300 !important;
  margin-top:-20px !important;
}
.diss-item .sand-link span {
  font: normal normal 100 32px/32px "Open Sans", sans-serif;
  color:#9c0;
  opacity:0.7;
}
.diss-item .sand-link span:nth-child(1) {padding-right:10px;}
.diss-item .sand-link span:nth-child(2) {padding-left:10px;}
.diss-item .sand-link div.pure-button {
  margin:10px;
  font: normal normal 400 14px/30px "Open Sans", sans-serif;
  padding:4px 14px;
}
.diss-details {
  width:20%; height:auto;
  float:right;
  display:block;
  margin:-50px 0 0 0;
  position:relative;
}
.diss-details span {
  width:90%;
  display:block;
  float:left;
  text-align:right;
}
.diss-details span:nth-child(1) {
  font: normal normal 100 82px/82px "Exo 2", sans-serif;
  color:#9c0;
  opacity:0.8;
}
.diss-details span:nth-child(1) i {font-style:normal !important;}
.diss-details span:nth-child(2) {
  font: normal normal 400 16px/16px "Open Sans", sans-serif;
  color:#9c0;
  opacity:0.8;
}
.cat-name {
  font: normal normal 400 16px/16px "Open Sans", sans-serif;
  color:#788888;
  text-decoration: none;
  background:#fff;
  width:auto;
  -moz-border-radius:15px;
  -o-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:1px solid #ddd;
  padding:7px 12px;
  float:right;
  margin:-17px 20px 0 0;
}
.cat-name:hover {
  color:#fff;
  background:#455555;
  border-color:#455555;
}
/* stat part */
.stat-item span {
  font: normal normal 100 86px/86px "Exo 2", sans-serif;
  color:#788888;
  text-align:center;
  width:100%;
  display:block;
}
.stat-item span:nth-child(3) {
  font-size:22px !important;
}
.stat-item:hover {
  background:#788888 !important;
  cursor:pointer;
}
.stat-item:hover span {color:#fff !important;}
#go-top {
  width:10%; height:auto;
  display:block;
  margin:60px auto 20px auto !important;
  opacity:0.5;
  cursor:pointer;
  padding-right:0.8%;
  padding-top:20px;
}
.sm-stat {font-size:55px !important;}
#go-top:hover {opacity:0.8;}

.en-panel {padding-right:70px;}
.en-sub {margin-left:180px !important;}

/* lang part */
#lang-panel {
  padding-right:40px !important;
}
#lang-panel a {
  text-transform: uppercase;
  font: normal normal 300 18px/50px "Open Sans" !important;
  color:#fff;
  margin-left:10px;
  text-decoration: none;
}
#lang-panel a.active {
  font-weight:800 !important;
}
#lang-panel a:hover {
  text-decoration:underline;
}
.trans-100,.trans-100-all,.trans-100-all * {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.trans-150,.trans-150-all,.trans-150-all * {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.trans-50,.trans-50-all,.trans-50-all * {
  -webkit-transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
  -ms-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}
.rotate-45 {
  -webkit-transform:rotate(-45deg);
   -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
     -o-transform:rotate(-45deg);
        transform:rotate(-45deg);
  zoom:1.0;
}
.rotate45 {
  -webkit-transform:rotate(45deg);
   -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
     -o-transform:rotate(45deg);
        transform:rotate(45deg);
  zoom:1.0;
}



#log-in-form,#sign-in-form {width:100%; margin-left:0%;}
#log-in-form .top-conus { margin-left:35%;}
#main-logo img:nth-child(1), .sd-comp { display:block !important; opacity:1.0 !important;}
@media all and (min-width: 1700px) {
  #top-nav > a,#reed-in {
    padding:0 12px !important;
    font: normal normal 800 20px/50px "Open Sans" !important;
  }
  #log-in,#sign-in { font: normal normal 800 20px/50px "Open Sans" !important; }
  .or-desc {padding:0 5px 0 10px;}
  #lang-panel > a {font-size:20px !important;}
  .win-box { width:30% !important; }
}
@media all and (max-width: 1400px){
  .en-auth {
    width:120% !important;
    margin-left:-50px !important;
  }
}
@media all and (max-width: 1100px) {
  #top-nav > a,#reed-in {
    padding:0 4px !important;
    font: normal normal 700 16px/50px "Open Sans" !important;
  }
  #log-in,#sign-in {
    font: normal normal 400 18px/50px "Open Sans" !important;
  }
  .or-desc {padding-right:20px;}
  #top-nav > a > i,#reed-in > i {font-size:14px !important;}
  #main-logo {width:50px; height:50px;}
  #lang-panel > a {font-size:20px !important;}
}
@media all and (max-width: 980px) {
  #main-ul {
    width:98% !important;
    margin-left:1.5%;
  }
  #top-nav > a,#reed-in {
    padding:0 7px !important;
    font: normal normal 700 14px/50px "Open Sans" !important;
  }
  /* content */
  .post-item .sand-link {font-size:22px !important;}
  .post-item .post-details span:nth-child(2) {display:none;}
  .stat-item > span:nth-child(2) {font-size:46px !important;}
  .sand-link {max-height:140px; overflow:hidden;}
}
@media all and (max-width: 800px) {
  .vbox {
    overlow:hidden !important;
    display:block;
    width:104% !important;
  }
  #top-nav > a,#reed-in {
    padding:0 6px !important;
    font: normal normal 400 14px/40px "Open Sans" !important;
    height:40px;
  }
  #auth-panel { padding-right:18px !important; }
  #lang-panel { padding-right:20px !important; }
  #log-in,#sign-in {
    font: normal normal 400 16px/50px "Open Sans" !important;
    padding:0 !important;
  }
  .or-desc {padding-right:20px;}
  #log-in { width:62px; }
  #top-nav > a > i,#reed-in > i {font-size:14px !important;}
  #main-logo {width:40px; height:40px;}
  #lang-panel > a {font-size:20px !important;}
  #log-in-form,#sign-in-form,#reed-in-form { margin-left:-75% !important;}
  #lang-panel > a,#log-in,#sign-in,.or-desc,#auth-panel {line-height:40px !important; height:40px !important;margin-top:0;}

  #log-in-form, #sign-in-form {
    width:170%;
    margin-left:-100%;
  }

  /* content */
  .main-box {margin-top:10px !important;}
  .diss-details span:nth-child(1){font-size:46px !important; line-height:46px;}
  .diss-details span:nth-child(1) i {display:none !important;}
  .user-coins span {font-size:50px !important;}
}
@media all and (max-width: 700px) {
  .main-header {height:150px !important;}
  .or-desc {padding-right:20px;}
  #reed-in-form {margin-left:40px; width:50% !important;}

  #log-in-form .top-conus { margin-left:35%;}
  /* content */
  .main-box {margin-top:150px !important;}
  .main-box h2 {line-height:65px !important;}
  .diss-details {width:15%;}
  .diss-details span:nth-child(1){font-size:46px !important; line-height:46px;}
  #main-ul > li {width:100% !important;}
  .stat-item > span:nth-child(2) {font-size:66px !important;}
  .diss-item .sand-link {width:85%;}
  .user-coins span {font-size:76px !important; margin-bottom:10px;}
  .win-box {margin-top:-30px;}
  #main-logo {
    left: 45%;
    width: 10%;
    top: 60px;
  }
}
@media all and (max-width: 600px) {

  .slider-item { padding-top:200px !important;}
  #top-nav {width:100%;position:absolute; top:0;left:0;}
  #top-nav > a {
    width:auto !important;
    float:left;
    margin-left:2.5%;
    font-weight:700 !important;
    font-size:14px !important;
  }
  #reed-in > span {font-weight:700 !important; padding-left: 40px !important;}
  .reed-us {margin-left:75%; width:25%;}
  #auth-panel {
    position:absolute;
    top:45px; left:0px;
    width:100%; padding:0 0 0 27px;
  }
  #lang-panel {margin-top:40px;}
  #reed-in {top: 10px;}
  #main-logo {
    left: 45%;
    width: 15%;
    top: 95px;
  }
  #main-ul {padding-top:250px !important;}
  #reed-in-form {width:60% !important; margin-left:34% !important; top:68px;}
  #log-in-form,#sign-in-form {
    position: absolute;
    margin-left:0% !important; top:60px; width:100% !important;
    left:0 !important;
  }
  #log-in-form .form-cont, #sign-in-form .form-cont {width: 89%;}
  #log-in-form .top-conus { margin-left:0%;}
  #sign-in-form .top-conus { left:45% !important;}
  /* content */
  .user-coins span {font-size:60px !important; margin-bottom:10px;}
  .diss-item .sand-link {padding:0 4px 0 8px !important; width:84%;}
  .diss-item .diss-details {margin-right:1%;}
}
@media all and (max-width: 500px) {
  #log-in-form,#sign-in-form {width:100% !important; margin-left:0% !important; left:0 !important;}
  .main-header {height:200px !important;}
  #auth-panel {width:70% !important;}
  #reed-in,.or-desc {display:none !important;}
  #top-nav > a {font-size:13px !important;}
  #log-in {width:50px !important; margin-right:10px;}
  #lang-panel { margin-top: 44px; padding-right: 0px !important;}
  .en-panel #log-in {width:55px !important;}
  .reed-us {left:73% !important;}
  #reed-in-form { top:180px;}
  /* content */
  .main-box {display:none;}

  .slider-item {
    padding:0 !important;
    padding-top:160px !important;
  }

  #main-ul { margin-bottom:50px;}
  .cat-name {margin-right:10px;}
  .user-coins span {font-size:45px !important; margin-bottom:10px;}
  .user-coins {margin-left:7%;}
  .win-box {margin-top:-20px;}
  .diss-item .sand-link {font-size:18px !important; margin-top:-15px !important; line-height:24px !important; width:80% !important;}
  .diss-item .sand-link span {font-size:20px !important; line-height:24px;}
  .diss-details {width:18% !important;}
  .diss-details span{ text-align:right !important;}
  .diss-details span:nth-child(2){ font-size:14px !important;}
  .sand-link div {margin-left:0 !important; margin-top:5px;}
  .cat-name {display:none;}
  #auth-panel { top:5px !important; }
  #lang-panel { margin-top:5px !important; margin-right:25px; }
  #main-logo {
    width:30% !important;
    top: 0px !important;
    margin-top:-40px;
    left:35% !important;
  }
  #top-nav {display:none; opacity:0.0;}
  #sign-in{ padding-left:5px; padding-right:5px;}
  #main-logo {
    left: 42% !important;
    width: 15% !important;
    top: 100px !important;
  }
}
@media all and (max-width: 400px),@media all and (max-width: 300px) {
  #log-in-form,#sign-in-form {width:100% !important; margin-left:0% !important; left:0 !important;}
  #main-logo {
    width:25% !important;
    top: 100px !important;
    left:37.5% !important;
  }
}
@-moz-document url-prefix() {
  @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic);
  #top-nav a, #auth-panel > *,.sd-btn {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
  }
  .sd-caption-small {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400;
  }
}
