.white-zone > div {
    padding:0 !important;
}
.title-box{
    height:40px !important;
    padding-bottom:0 !important;
    margin-top:-30px !important;
}
#come-back {
    margin-top:0px !important;
}
.desc {
    font-size:14px !important;
    line-height:22px !important;
    color:#444 !important;
    margin-bottom:20px !important;
}
.col-lg-7 > ul > li { 
    margin-bottom:10px; 
    color: #444 !important;
    font-size:14px !important;
}
.col-lg-7 > ul {margin-bottom:20px !important;}
.top-nav {
    width:100%;
    height:50px;
    display:block;
    position:relative;
    margin-left:8% !important;
    padding:0 !important;
}
.top-nav > a:nth-child(1){
    margin-left: 2px;
}
.top-nav a {
    font-size:16px !important;
    margin-top:-5px;
    display:block;
    float:left;
    margin-right:20px;
    font-family:'Segoe UI';
    color:#3d91ce;  
}
.top-nav a:hover,.act-nav {
    color:#444 !important;
}