.main-header {
  width:100% !important;
  position:relative !important;
  z-index:2;
}
.head-new {}
.head-new #main-logo {
  width:50px; height:50px;
  margin-top:-17px;
  cursor:pointer;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
}
#main-logo > img {display:none; opacity:0.0;}
.head-new #main-logo > img:nth-child(2) { margin:7px 0 0 2.5px;}
.head-new #log-in,.head-new #sign-in {color:#fff !important;}
.b-b {
  display:block;
  width:auto;
  height:50px;
  float:left;
  border:0 none !important;
}
.b-r {
  float:right !important;
}
#top-nav {padding-top:10px;}
#top-nav > a,#reed-in {
  display:block;
  float:left;
  width:auto;
  height:50px;
  padding:0 10px;
  text-decoration:none;
  position:relative;
  text-transform: uppercase;
  font: normal normal 800 16px/50px "Open Sans" !important;
  color:#fff;
}
#top-nav > a:hover,#reed-in:hover {
  color:#fff;
  cursor:pointer;
}
#top-nav > a > i {
  font-size:16px;
  color:#fff;
  padding:0 2px 0 0;
}
#top-nav > a:hover > i {color:#fff;}
#main-logo {
  width:60px;
  height:60px;
  display:block;
  position:absolute;
  top:12px;
  left:48%;
}
#main-logo > img:nth-child(1){
  display:block;
  width:180%;
  height:auto;
  position:absolute;
  top:-5%;left:-45%;
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  opacity:0.8;
}
#main-logo:hover > img:nth-child(1){
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity:1.0;
  cursor:pointer;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
}
#main-logo > img:nth-child(2) {
  display:block;
  width:90%;
  height:auto;
  margin:10% 10% 0 0;
}
#auth-panel {
  position:relative;
  border:0 none;
}
#auth-panel > * { float:left; }
#log-in {
  width:70px;
  height:15%;
  margin:0;
  text-transform: uppercase;
  font: normal normal 800 18px/50px "Open Sans" !important;
  color:#fff;
  cursor:pointer;
}
#log-in:hover,.active-sign-in {
  color:#fff;
}
#log-in-form,#sign-in-form,#reed-in-form {
  width:95%;
  height:auto;
  z-index:2;
  display:none;
  opacity:0.0;
  position:absolute;
  top:73px; left:-10px;
  background:#fff;
  padding:0;
  box-shadow:0px 1px 2px 0px #aaa;
}
.top-conus {
  width:30px; height:30px;
  display:block;
  position:absolute;
  top:-15px; left:20px;
  box-shadow:0px 0px 1px 0px #ddd;
  z-index:1;
  background:#fff;
}
.form-cont {
  display:block;
  width:100%; height:100%;
  position:relative;
  z-index:2;
  background:#fff;
  padding:15px 10px;
}
.form-cont > input {
  outline:none !important;
}
.form-cont > input:not(.btn){
  width:100%;
  height:40px;
  background:#fff;
  border:1px solid #ddd;
  text-indent:7px;
  margin-bottom:15px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.form-cont > input:not(.btn):focus {
  border-color:#aaa;
}
#login-send {
  width:100%;
}
.auth-forget {
  font: normal normal 400 12px/20px "Segoe UI";
  color:#388ed1;
  margin:4px 0 0 1px;
  display:block; width:100%;
  text-decoration:none;
}
.auth-forget:hover {
  text-decoration:underline;
  color:#247ab7;
}
.auth-desc {
  font: normal normal 400 14px/20px "Segoe UI";
  color:#111;
  margin:15px 0 6px 0;
  display:block;
}
.socio-box {
  width:auto;
  display:block;
  height:auto;
  min-height:45px;
  overflow:hidden;
}
.socio-auth {
  width:30px; height:30px;
  display:block;
  float:left;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  border:1px solid #5c677c;
  background:#5c677c;
  color:#fff !important;
  margin:0 10px 0 0; padding:0;
  text-decoration:none;
}
.socio-auth:nth-child(1):hover {border-color:#388ed1; background:#388ed1;}
.socio-auth:nth-child(2):hover{border-color:#3b589a; background:#3b589a;}
.socio-auth:nth-child(3):hover{border-color:#e09797; background:#e09797;}
.socio-auth:nth-child(4):hover{border-color:#3b589a; background:#3b589a;}
.socio-auth:nth-child(5):hover {border-color:#388ed1; background:#388ed1;}

.i {
  text-align:center !important;
  width:30px !important;
  height:30px !important;
  display:block !important;
  font-size:14px !important;
  line-height:30px !important;
}
.i:nth-child(1) {
  margin-left:-1.5px !important;
  margin-top:-1px;
}
.b-line {
  width:100%; height:1px;
  background:#ddd;
  display:block;
  margin:10px 0 10px 0;
}
.auth-close {
  display:block;
  width:20px; height:auto;
  margin:8px auto 0 auto;
  opacity:0.5;
  cursor:pointer;
}
.auth-close:hover {opacity:0.8;}
.top-login {width:80%;}
.or-desc {
  font: normal normal 400 16px/16px "Segoe UI";
  margin-left:5px;
  color:#fff;
  text-align:center;
  margin-top:18px;
}
#sign-in {
  text-transform: uppercase;
  font: normal normal 800 18px/50px "Open Sans" !important;
  color:#fff;
  cursor:pointer;
  padding:0 0 0 15px;
  float:left !important;
  display:block;
}
#sign-in:hover { color:#fff; }
#sign-in-form > .top-conus,#reed-in-form > .top-conus {left:75% !important;}
.center-desc {
  font: normal normal 100 54px/34px "Exo 2", sans-serif;
  margin:-5px 0 25px 0;
  color:#ccc;
}
.sign-desc {
  text-align:center !important;
}
#sign-in-form .btn {
  background:#eee !important;
  color:#555 !important;
  width:100% !important;
  height:35px !important;
  margin-bottom:7px;
}
#reed-in:hover i {color:#fff;}
#sign-in-form .btn:hover i {color:#fff !important;}
#sign-in-form .btn:nth-child(2):hover {border-color:#477; background:#477 !important; color:#fff !important;}
#sign-in-form .btn:nth-child(3):hover{border-color:#9b0; background:#9b0 !important; color:#fff !important;}
#sign-in-form .btn:nth-child(4):hover{border-color:#477eab; background:#477eab !important; color:#fff !important;}
#reed-in-form {
  width:25%;
  margin-left:200px;
}
.socio-box {
  width:100%; height:auto;
  display:block; overflow:hidden;
}
#reed-in-form a {
  width:50%; height:34px;
  float:left; display:block;
  font-size:14px;
  padding:8px 0 0 8px;
}
#reed-in-form a i {
  font-size:18px;
  color:#777;
}
#reed-in-form a:hover {background:#455555; color:#fff;}
#reed-in-form a:hover i {color:#fff;}

/* lang part */
#lang-panel {
  padding-right:40px !important;
}
#lang-panel a {
  text-transform: uppercase;
  font: normal normal 300 18px/50px "Open Sans" !important;
  color:#fff;
  margin-left:10px;
}
#lang-panel a.active {
  font-weight:800 !important;
}
#lang-panel a:hover {
  text-decoration:underline;
}

@media all and (min-width: 1700px) {
  #top-nav > a,#reed-in {
    padding:0 12px !important;
    font: normal normal 800 20px/50px "Open Sans" !important;
  }
  #log-in,#sign-in { font: normal normal 800 20px/50px "Open Sans" !important; }
  .or-desc {padding:0 5px 0 10px;}
  #lang-panel > a {font-size:20px !important;}
}
@media all and (max-width: 1400px) {
  .en-auth {
    width:160% !important;
    margin-left:-70%;
  }
}
@media all and (max-width: 1100px) {
  #top-nav > a,#reed-in {
    padding:0 4px !important;
    font: normal normal 700 16px/50px "Open Sans" !important;
  }
  #log-in,#sign-in {
    font: normal normal 400 18px/50px "Open Sans" !important;
  }
  .or-desc {padding-right:20px;}
  #top-nav > a > i,#reed-in > i {font-size:14px !important;}
  #main-logo {width:50px; height:50px;}
  #lang-panel > a {font-size:20px !important;}
}
@media all and (max-width: 980px) {
  #top-nav > a,#reed-in {
    padding:0 7px !important;
    font: normal normal 700 14px/50px "Open Sans" !important;
  }
}
@media all and (max-width: 800px) {
  #top-nav > a,#reed-in {
    padding:0 6px !important;
    font: normal normal 400 14px/40px "Open Sans" !important;
    height:40px;
  }
  #auth-panel { padding-right:1px !important; }
  #lang-panel { padding-right:20px !important; }
  #log-in,#sign-in {
    font: normal normal 400 16px/50px "Open Sans" !important;
    padding:0 !important;
  }
  .or-desc {padding-right:20px;}
  #log-in { width:62px; }
  #top-nav > a > i,#reed-in > i {font-size:14px !important;}
  #main-logo {width:40px; height:40px;}
  #lang-panel > a {font-size:20px !important;}
  #reed-in-form {width:40% !important; margin-left:50px;}
  #log-in-form,#sign-in-form {width:130%; margin-left:-35%;}
  #log-in-form .top-conus { margin-left:35%;}
  #lang-panel > a,#log-in,#sign-in,.or-desc,#auth-panel {line-height:40px !important; height:40px !important;margin-top:0;}
  #log-in-form, #sign-in-form {
    width:170%;
    margin-left:-100%;
  }
}
@media all and (max-width: 700px) {
  .main-header {height:150px !important;}
  .or-desc {padding-right:20px;}
  #reed-in-form {margin-left:40px; width:50% !important;}
  /* content */
  .main-box {margin-top:150px !important;}
  .main-box h2 {line-height:65px !important;}
  .diss-details {width:15%;}
  .diss-details span:nth-child(1){font-size:46px !important; line-height:46px;}
  #main-ul > li {width:100% !important;}
  .stat-item > span:nth-child(2) {font-size:66px !important;}
  .diss-item .sand-link {width:85%;}
  .user-coins span {font-size:76px !important; margin-bottom:10px;}
  .win-box {margin-top:-30px;}
  #main-logo {
    left: 45%;
    width: 10%;
    top: 60px;
  }
}
@media all and (max-width: 600px) {
  #top-nav {width:100%;position:absolute; top:0;left:0;}
  #top-nav > a {
    width:auto !important;
    float:left;
    margin-left:2.5%;
    font-weight:700 !important;
    font-size:14px !important;
  }
  #reed-in > span {font-weight:700 !important; padding-left: 40px !important;}
  .reed-us {margin-left:75%; width:25%;}
  #auth-panel {position:absolute; top:45px;left:15px;}
  #lang-panel {margin-top:5px;}
  #reed-in {top: 10px;}
  #main-logo {
    left: 45%;
    width: 15%;
    top: 100px !important;
  }
  #reed-in-form {width:60% !important; margin-left:34% !important; top:68px;}
  #log-in-form,#sign-in-form {margin-left:0% !important; top:60px; left:0& !important;}
  #log-in-form .top-conus { margin-left:0%;}
  #sign-in-form .top-conus { left:45% !important;}
}
@media all and (max-width: 500px) {
  .main-header {height:200px !important;}
  #auth-panel {width:70% !important;}
  #reed-in,.or-desc {display:none !important;}
  #top-nav > a {font-size:13px !important;}
  #log-in {width:50px !important; margin-right:10px;}
  #lang-panel { margin-top: 44px; padding-right: 0px !important;}
  .en-panel #log-in {width:55px !important;}
  .reed-us {left:73% !important;}
  #reed-in-form { top:180px;}
  #auth-panel { top:5px !important; }
  #lang-panel { margin-top:5px !important; }
  #main-logo {
    width:30% !important;
    top: 40px !important;
    left:35% !important;
  }
  #top-nav {display:none; opacity:0.0;}
  #sign-in{ padding-left:5px; padding-right:5px;}
  #main-logo {
    left: 42% !important;
    width: 15% !important;
    top: 100px !important;
  }
}
@media all and (max-width: 400px),@media all and (max-width: 300px) {
  #main-logo {
    width:25% !important;
    top: 60px !important;
    left:37.5% !important;
  }
}
