body {
    background:#fff !important;
}
.box {
    background:#fff;
    min-height:300px;
    display:block;
    height:auto;
}
#title-box {
    padding-top:0 !important;
}
.white-zone,.grey-zone {
    min-height:120px !important;
    display:block;
    height:auto;
    overflow:hidden;
    padding-bottom:30px;
}
.white-zone {background:#fff; padding-top:30px;}
.grey-zone {
    background:#f7f7f7;
    border-top:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea;
}
.elem-logo {
    display:block;
    opacity:1.0;
    margin-top:20px;
    position:relative;
    overflow:hidden;
    margin:20px 10% 0 0;
    margin-left:8% !important;
}
.prev-text {
    font: normal normal 400 30px/45px "Segoe UI Light";
    text-align:justify;
    color:#222;
    display: block;
    height:50px;
    border-bottom:1px solid #ddd;
}
#logo-ico {
    display: block;
    width:100px;
    height:100px;
    background:#f84;
    -webkit-transform:rotate(45deg);
     -moz-transform:rotate(45deg); 
      -ms-transform:rotate(45deg);
       -o-transform:rotate(45deg);  
          transform:rotate(45deg);
    zoom:1;
    margin:-35px auto 0 auto; 
    border-radius:25%;
}
#logo-ico > i {
    display: block;
    -webkit-transform:rotate(-45deg);
     -moz-transform:rotate(-45deg); 
      -ms-transform:rotate(-45deg);
       -o-transform:rotate(-45deg);  
          transform:rotate(-45deg);
    zoom:1;
    font-size:28px;
    color:#fff;
    display:block;
    margin:0 28px 0 2px;
}
.title-box {
    font: normal normal 400 42px/42px "Segoe UI Light";
    color:#333;
    text-align:center;
    display:block;
    height:70px !important;
    position:relative; top:25px;
    width:100% !important;
    padding:0;
    float:left;
}
#title-box {
    min-height: 100px;
}
.title {
    font: normal normal 400 38px/46px "Segoe UI Light" sans-serif;
    color:#303030;
    padding:0 !important;
    margin-bottom:20px;
}
.desc {
    font: normal normal 400 18px/28px "Segoe UI" sans-serif;
    color:#444;
    margin-bottom:40px;
}
.logo-img {
    margin:25px 0 40px 0;
}
.white-zone > div:nth-child(1){
    padding:0 !important;
    position:relative;
}
.white-zone > div:nth-child(1) > img {
    margin-left:-60px;
}
.v-more {
    display:block;
    width:150px;
    height:40px;
    margin-left:15px !important;
    background:#f70;
    color:#fff;
    outline:0 none;
    position:relative;
}
.v-more a {
    display:block;
    width:100%;
    height:100%;
    outline:0 none;
    font: normal normal 400 16px/24px "Segoe UI" sans-serif;
    color:#fff;
}
.v-more:hover {
    background:#f60;
}
.v-more:hover a {
    color:#fff;
}
.show-me-more {
    display:block;
    outline:0 none;
    font: normal normal 400 16px/22px "Segoe UI" sans-serif;
    color:#0088d5;
    width:130px !important;
    -webkit-transition: all 0.2s ease !important;
	-moz-transition: all 0.2s ease !important;
	-o-transition: all 0.2s ease !important;
	-ms-transition: all 0.2s ease !important;
	transition: all 0.2s ease !important;
    border-radius:5px;    
}
.show-me-more:hover {
    color:#477bea; 
}
#footer-box {
    width:100%;
    height:120px;
    display:block;
    background:#fff;
    position:relative;
}
.line-logo {
    display:block;
    height:1px;
    width:80%;
    position:absolute;
    top:50px;
    left:10%;
    background:#ccc;
    z-index:1;   
}
#footer-box > img {
    position:relative;   
    width:auto;
    height:80px;
    background-color:#fff;
    margin:0 auto;
    display:block;
    z-index:2;
    box-shadow:0 0 10px 15px #fff;
    margin-top:20px;
}
.no-margin {
    margin-left:0 !important;
}
#come-back {
    position:relative;
    top:0;
    float:right;margin-top:-110px;
    cursor:pointer;
    font-size:22px;
}
#come-back > *{
    color:#ff8844;
}
#come-back > *:hover {
    color:#f60 !important;
}
#come-back > *, #come-back > *:hover,#come-back:hover > a > i{
    -webkit-transition: all 0.2s ease !important;
	-moz-transition: all 0.2s ease !important;
	-o-transition: all 0.2s ease !important;
	-ms-transition: all 0.2s ease !important;
	transition: all 0.2s ease !important;
}